body {
    font-family: 'Merriweather', Times, serif;
    background-image: linear-gradient( 111.5deg, #dcf3ff 21.9%, #ffd4bb 92.2% );
    background-attachment: fixed;
}

nav.navbar {
    background-color: #fff;
    box-shadow: 0 0 15px #00000055;
}

.journai {
    font-family: 'Merriweather', Times, serif;
    font-size: 30px;
    font-weight: 800;
    color: #8ad3ef;
}

.journai span {
    color: #ef9159;
}

.journai:hover {
    text-shadow: 0 0px 13px #8ad3efcc;
    text-decoration: none;
    color: #8ad3ef;
}

.navbar-text {
    padding: 0.5rem;
    cursor: pointer;
}

span.options {
    color: #212529 !important;
}

span.options:hover {
    color: #212529 !important;
    text-decoration: underline;
}

.journal {
    background-color: #fff;
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 15px #00000055;
}

.journal-entry {
    min-height: 100px;
    resize: none;
    overflow-y: hidden;
    width: 100%;
}

.journal-entry:disabled {
    background-color: #fff;
    color: #000;
}

.btn-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.align-right {
    justify-content: flex-end;
}

.my-btn {
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: #ef9159;
    margin: 5px
}

.my-btn:hover, my-btn:active {
    box-shadow: 0 0px 13px #ef9159cc;
}

.accent {
    background-color: #8ad3ef;
}

.accent:hover, my-btn:active {
    box-shadow: 0 0px 13px #8ad3efcc;
}

.my-btn:disabled {
    cursor: default;
}

.spaced {
    margin: 5px 50px;
}

.small {
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
}

.hidden {
    display: none;
}

.prompt {
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#download-refresh {
    margin-right: 40px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* place overlay is above most elements, but below the modal */
}

.show {
    display: block;
}

.modal.show ~ .overlay { /* display the overlay when the modal is shown */
    display: block;
}


.journal h1 {
    margin-bottom: 20px;
}

.spacer {
    height: 40px;
}