body {
    background-color: #7e8e65;
    font-family: 'Playfair Display', Times, serif;
}

nav.navbar {
    background-color: #f0f2f4;
    box-shadow: 0 0 15px #00000055;
}

.navbar-light .navbar-brand {
    font-family: 'Playfair Display', Times, serif;
    font-size: 30px;
    font-weight: 800;
    color: #556043;
}

.navbar-light .navbar-brand span {
    color: #a7342b;
}

.navbar-text {
    padding: 0.5rem;
    cursor: pointer;
}

.journal {
    background-color: #fff;
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 15px #00000055;
    /* height: 100px; */
}

.journal-entry {
    min-height: 100px;
    resize: none;
    overflow-y: hidden;
    width: 100%;
}

.journal-entry:disabled {
    background-color: #fff;
    color: #000;
}

.btn-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.align-right {
    justify-content: flex-end;
}

.my-btn {
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: #e09b80;
    margin: 5px
}

.my-btn:disabled {
    cursor: default;
}

.spaced {
    margin: 5px 50px;
}

.small {
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
}

.hidden {
    display: none;
}

.prompt {
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#download-refresh {
    margin-right: 70px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* place overlay is above most elements, but below the modal */
}

.show {
    display: block;
}

/* Display the overlay when the modal is shown */
.modal.show ~ .overlay {
    display: block;
}